@CHARSET "UTF-8";
.paging{
	position:absolute;
	top:5px;
	right:150px;
	height:30px;
	float:right;
}
.text_paging{
 	height:30px;
 	width:50px;
 	font-size:18px;
 	color:#FFFFFF;
 	background-color:#003333;
 	border:0px;
 }
.btn_paging{
 	height:30px;
 	width:50px;
 	
 } 

.btn_paging_up{
	background-color:#003333;
	color:#FFFFFF;
	border:1px;
}      
.btn_paging_down{
	background-color:#009900;
	color:#FFFFFF;
	border:0px;
}     